In [61]:
!pip install pyspark findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: findspark in /usr/local/lib/python3.11/dist-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [62]:
from pyspark.sql import SparkSession

In [63]:
spark = SparkSession.builder.appName("pyspark").getOrCreate()

In [64]:
spark

In [65]:
df=spark.read.csv('/content/education.csv',header=True,inferSchema=True)

**1. Display top 10 rows of the dataset**

In [66]:
df.show(10)

+----------+---+------+--------------+-----------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|Student_ID|Age|Gender|Academic_Level|    Country|Avg_Daily_Usage_Hours|Most_Used_Platform|Affects_Academic_Performance|Sleep_Hours_Per_Night|Mental_Health_Score|Relationship_Status|Conflicts_Over_Social_Media|Addicted_Score|
+----------+---+------+--------------+-----------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|         1| 19|Female| Undergraduate| Bangladesh|                  5.2|         Instagram|                         Yes|                  6.5|                  6|    In Relationship|                          3|             8|
|         2| 22|  Male|      Graduate|      India|                  2.1|           Twitter|                          No|                  7.5|                  8|             Single|                          0|             3|
|         3| 20|Female| Undergraduate|        USA|                  6.0|            TikTok|                         Yes|                  5.0|                  5|        Complicated|                          4|             9|
|         4| 18|  Male|   High School|         UK|                  3.0|           YouTube|                          No|                  7.0|                  7|             Single|                          1|             4|
|         5| 21|  Male|      Graduate|     Canada|                  4.5|          Facebook|                         Yes|                  6.0|                  6|    In Relationship|                          2|             7|
|         6| 19|Female| Undergraduate|  Australia|                  7.2|         Instagram|                         Yes|                  4.5|                  4|        Complicated|                          5|             9|
|         7| 23|  Male|      Graduate|    Germany|                  1.5|          LinkedIn|                          No|                  8.0|                  9|             Single|                          0|             2|
|         8| 20|Female| Undergraduate|     Brazil|                  5.8|          Snapchat|                         Yes|                  6.0|                  6|    In Relationship|                          2|             8|
|         9| 18|  Male|   High School|      Japan|                  4.0|            TikTok|                          No|                  6.5|                  7|             Single|                          1|             5|
|        10| 21|Female|      Graduate|South Korea|                  3.3|         Instagram|                          No|                  7.0|                  7|    In Relationship|                          1|             4|
+----------+---+------+--------------+-----------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
only showing top 10 rows

In [67]:
df.printSchema()

root
 |-- Student_ID: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Academic_Level: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Avg_Daily_Usage_Hours: double (nullable = true)
 |-- Most_Used_Platform: string (nullable = true)
 |-- Affects_Academic_Performance: string (nullable = true)
 |-- Sleep_Hours_Per_Night: double (nullable = true)
 |-- Mental_Health_Score: integer (nullable = true)
 |-- Relationship_Status: string (nullable = true)
 |-- Conflicts_Over_Social_Media: integer (nullable = true)
 |-- Addicted_Score: integer (nullable = true)

**3.Display column names**

In [68]:
df.columns

['Student_ID',
 'Age',
 'Gender',
 'Academic_Level',
 'Country',
 'Avg_Daily_Usage_Hours',
 'Most_Used_Platform',
 'Affects_Academic_Performance',
 'Sleep_Hours_Per_Night',
 'Mental_Health_Score',
 'Relationship_Status',
 'Conflicts_Over_Social_Media',
 'Addicted_Score']

**4. count number of rows of the dataset**

In [69]:
df.count()

100

**5. count number of columns of the dataset**

In [70]:
len(df.columns)

13

**6.Get overall statstic about dataset**

In [71]:
df.describe().show()

+-------+------------------+------------------+------+--------------+-------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+------------------+
|summary|        Student_ID|               Age|Gender|Academic_Level|Country|Avg_Daily_Usage_Hours|Most_Used_Platform|Affects_Academic_Performance|Sleep_Hours_Per_Night|Mental_Health_Score|Relationship_Status|Conflicts_Over_Social_Media|    Addicted_Score|
+-------+------------------+------------------+------+--------------+-------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+------------------+
|  count|               100|               100|   100|           100|    100|                  100|               100|                         100|                  100|                100|                100|                        100|               100|
|   mean|              50.5|             20.34|  NULL|          NULL|   NULL|    4.351999999999999|              NULL|                        NULL|   6.1629999999999985|               6.26|               NULL|                       2.56|              6.41|
| stddev|29.011491975882016|1.6466678935095413|  NULL|          NULL|   NULL|    1.273306361764163|              NULL|                        NULL|    0.773899348765847|   1.16011145406749|               NULL|         1.2578641509408808|1.7983999622560116|
|    min|                 1|                18|Female|      Graduate|Albania|                  1.5|          Facebook|                          No|                  4.5|                  4|        Complicated|                          0|                 2|
|    max|               100|                24|  Male| Undergraduate|Vietnam|                  7.2|           YouTube|                         Yes|                  8.0|                  9|             Single|                          5|                 9|
+-------+------------------+------------------+------+--------------+-------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+------------------+

**7.find the unique values available in the gender column**

In [72]:
df.columns

['Student_ID',
 'Age',
 'Gender',
 'Academic_Level',
 'Country',
 'Avg_Daily_Usage_Hours',
 'Most_Used_Platform',
 'Affects_Academic_Performance',
 'Sleep_Hours_Per_Night',
 'Mental_Health_Score',
 'Relationship_Status',
 'Conflicts_Over_Social_Media',
 'Addicted_Score']

**8.Display number of students having age greater than 20**

In [73]:
df.filter(df['age']>20).show()

+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|Student_ID|Age|Gender|Academic_Level|     Country|Avg_Daily_Usage_Hours|Most_Used_Platform|Affects_Academic_Performance|Sleep_Hours_Per_Night|Mental_Health_Score|Relationship_Status|Conflicts_Over_Social_Media|Addicted_Score|
+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|         2| 22|  Male|      Graduate|       India|                  2.1|           Twitter|                          No|                  7.5|                  8|             Single|                          0|             3|
|         5| 21|  Male|      Graduate|      Canada|                  4.5|          Facebook|                         Yes|                  6.0|                  6|    In Relationship|                          2|             7|
|         7| 23|  Male|      Graduate|     Germany|                  1.5|          LinkedIn|                          No|                  8.0|                  9|             Single|                          0|             2|
|        10| 21|Female|      Graduate| South Korea|                  3.3|         Instagram|                          No|                  7.0|                  7|    In Relationship|                          1|             4|
|        13| 22|  Male|      Graduate|       Italy|                  2.8|          LinkedIn|                          No|                  7.2|                  8|             Single|                          1|             4|
|        15| 21|  Male| Undergraduate|      Russia|                  3.7|           YouTube|                          No|                  6.8|                  7|    In Relationship|                          2|             5|
|        17| 24|  Male|      Graduate|      Sweden|                  2.0|          LinkedIn|                          No|                  7.8|                  8|             Single|                          0|             3|
|        19| 21|  Male| Undergraduate|     Denmark|                  3.5|          Facebook|                          No|                  6.7|                  7|             Single|                          1|             5|
|        22| 23|Female|      Graduate| Switzerland|                  2.5|          LinkedIn|                          No|                  7.3|                  8|    In Relationship|                          1|             4|
|        25| 22|  Male|      Graduate|      Greece|                  3.2|          Facebook|                          No|                  6.9|                  7|    In Relationship|                          2|             5|
|        27| 21|  Male| Undergraduate| New Zealand|                  3.8|           YouTube|                          No|                  6.6|                  7|             Single|                          1|             5|
|        29| 24|  Male|      Graduate|    Malaysia|                  2.2|          LinkedIn|                          No|                  7.4|                  8|             Single|                          0|             3|
|        31| 21|  Male| Undergraduate|     Vietnam|                  3.6|          Facebook|                          No|                  6.7|                  7|             Single|                          1|             5|
|        34| 23|Female|      Graduate|      Taiwan|                  2.6|          LinkedIn|                          No|                  7.2|                  8|             Single|                          1|             4|
|        37| 22|  Male|      Graduate|      Israel|                  3.1|          Facebook|                          No|                  6.8|                  7|             Single|                          1|             5|
|        39| 21|  Male| Undergraduate|       Egypt|                  3.9|           YouTube|                          No|                  6.5|                  7|        Complicated|                          2|             6|
|        41| 24|  Male|      Graduate|South Africa|                  2.3|          LinkedIn|                          No|                  7.3|                  8|    In Relationship|                          1|             4|
|        43| 21|  Male| Undergraduate|       Kenya|                  3.7|          Facebook|                          No|                  6.6|                  7|             Single|                          2|             5|
|        46| 23|Female|      Graduate|       Chile|                  2.7|          LinkedIn|                          No|                  7.1|                  8|        Complicated|                          1|             4|
|        49| 22|  Male|      Graduate|   Venezuela|                  3.3|          Facebook|                          No|                  6.7|                  7|    In Relationship|                          2|             5|
+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
only showing top 20 rows

In [74]:
df.filter(df['age']>20).select( 'country','gender','most_used_platform','addicted_score').show()

+------------+------+------------------+--------------+
|     country|gender|most_used_platform|addicted_score|
+------------+------+------------------+--------------+
|       India|  Male|           Twitter|             3|
|      Canada|  Male|          Facebook|             7|
|     Germany|  Male|          LinkedIn|             2|
| South Korea|Female|         Instagram|             4|
|       Italy|  Male|          LinkedIn|             4|
|      Russia|  Male|           YouTube|             5|
|      Sweden|  Male|          LinkedIn|             3|
|     Denmark|  Male|          Facebook|             5|
| Switzerland|Female|          LinkedIn|             4|
|      Greece|  Male|          Facebook|             5|
| New Zealand|  Male|           YouTube|             5|
|    Malaysia|  Male|          LinkedIn|             3|
|     Vietnam|  Male|          Facebook|             5|
|      Taiwan|Female|          LinkedIn|             4|
|      Israel|  Male|          Facebook|             5|
|       Egypt|  Male|           YouTube|             6|
|South Africa|  Male|          LinkedIn|             4|
|       Kenya|  Male|          Facebook|             5|
|       Chile|Female|          LinkedIn|             4|
|   Venezuela|  Male|          Facebook|             5|
+------------+------+------------------+--------------+
only showing top 20 rows

**9.which country has addicted score greater than 8**

In [75]:
df.filter(df['addicted_score']>8).select('country').show()

+--------------+
|       country|
+--------------+
|           USA|
|     Australia|
|        Mexico|
|       Ireland|
|           UAE|
|       Ecuador|
|Czech Republic|
|       Armenia|
| Liechtenstein|
+--------------+

**10.findout average for daily usage hours**

In [80]:
from pyspark.sql.functions import avg

In [81]:
df.select(avg("avg_daily_usage_hours")).show()

+--------------------------+
|avg(avg_daily_usage_hours)|
+--------------------------+
|         4.351999999999999|
+--------------------------+

**11.find order of conflict over socialmedia in ascending order**

In [85]:
df.orderBy("conflicts_over_social_media",ascending=True).show()

+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|Student_ID|Age|Gender|Academic_Level|     Country|Avg_Daily_Usage_Hours|Most_Used_Platform|Affects_Academic_Performance|Sleep_Hours_Per_Night|Mental_Health_Score|Relationship_Status|Conflicts_Over_Social_Media|Addicted_Score|
+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
|         2| 22|  Male|      Graduate|       India|                  2.1|           Twitter|                          No|                  7.5|                  8|             Single|                          0|             3|
|         7| 23|  Male|      Graduate|     Germany|                  1.5|          LinkedIn|                          No|                  8.0|                  9|             Single|                          0|             2|
|        17| 24|  Male|      Graduate|      Sweden|                  2.0|          LinkedIn|                          No|                  7.8|                  8|             Single|                          0|             3|
|        29| 24|  Male|      Graduate|    Malaysia|                  2.2|          LinkedIn|                          No|                  7.4|                  8|             Single|                          0|             3|
|        22| 23|Female|      Graduate| Switzerland|                  2.5|          LinkedIn|                          No|                  7.3|                  8|    In Relationship|                          1|             4|
|         9| 18|  Male|   High School|       Japan|                  4.0|            TikTok|                          No|                  6.5|                  7|             Single|                          1|             5|
|        10| 21|Female|      Graduate| South Korea|                  3.3|         Instagram|                          No|                  7.0|                  7|    In Relationship|                          1|             4|
|        13| 22|  Male|      Graduate|       Italy|                  2.8|          LinkedIn|                          No|                  7.2|                  8|             Single|                          1|             4|
|        19| 21|  Male| Undergraduate|     Denmark|                  3.5|          Facebook|                          No|                  6.7|                  7|             Single|                          1|             5|
|        41| 24|  Male|      Graduate|South Africa|                  2.3|          LinkedIn|                          No|                  7.3|                  8|    In Relationship|                          1|             4|
|        27| 21|  Male| Undergraduate| New Zealand|                  3.8|           YouTube|                          No|                  6.6|                  7|             Single|                          1|             5|
|         4| 18|  Male|   High School|          UK|                  3.0|           YouTube|                          No|                  7.0|                  7|             Single|                          1|             4|
|        31| 21|  Male| Undergraduate|     Vietnam|                  3.6|          Facebook|                          No|                  6.7|                  7|             Single|                          1|             5|
|        34| 23|Female|      Graduate|      Taiwan|                  2.6|          LinkedIn|                          No|                  7.2|                  8|             Single|                          1|             4|
|        37| 22|  Male|      Graduate|      Israel|                  3.1|          Facebook|                          No|                  6.8|                  7|             Single|                          1|             5|
|        46| 23|Female|      Graduate|       Chile|                  2.7|          LinkedIn|                          No|                  7.1|                  8|        Complicated|                          1|             4|
|        53| 24|  Male|      Graduate|     Bolivia|                  2.4|          LinkedIn|                          No|                  7.2|                  8|        Complicated|                          1|             4|
|        58| 23|Female|      Graduate|     Bahamas|                  2.8|          LinkedIn|                          No|                  7.0|                  8|    In Relationship|                          1|             4|
|        61| 22|  Male|      Graduate|      Poland|                  3.1|          Facebook|                          No|                  7.1|                  7|             Single|                          1|             5|
|        65| 23|  Male|      Graduate|    Slovakia|                  2.3|          LinkedIn|                          No|                  7.4|                  8|    In Relationship|                          1|             3|
+----------+---+------+--------------+------------+---------------------+------------------+----------------------------+---------------------+-------------------+-------------------+---------------------------+--------------+
only showing top 20 rows